@CHARSET "UTF-8";
body {
  		padding-top: 60px;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 1220px;
}

.brand-icon {
	margin:5px 0px 0px 5px;
}

.dropdown-menu .divider {
	margin:5px 1px;
}

.dropdown-menu > li.active-project {
	
}

.dropdown-menu > li.project-add {
	
}

.dropdown-menu > li.project-list-item {
	
}

.dropdown-menu > li.user-story-list-item {
	
}

.alert-popup {
	z-index:1031;
	top:5px;
	left:30%;
	position:fixed;
}