table tr .active-row { }
hr {  margin:5px 0px !important;}

/*groups view css*/
.nav-list > .active >a, .nav-list >.active >a:hover {
	background-color: rgb(85, 180, 228);
	text-shadow : none;
}

/*tableview css*/
.group-panel.affix { width : 260px;}
.check-all {}
.name-col { width:150px !important;}
.description-col { width:800px;}
.actions-col { max-width:175px;min-width:145px;}
.dropdown-actions { margin-right:10px;}
.read-more-string {margin-left:5px;}
.hide,.hide-string { display:none;}
.row-id {display:none;}