.project-card {
	padding : 0px 5px 5px 10px;
}

.project-card .update-time {
	float: right;
	color: #999;
	margin: 17px 10px 0px 0px;
}

.scrum-tabbar {
	background-color:#ffffff;
	padding-left:10px;
}

.scrum-tabbar.x-tab-bar-horizontal .x-tab-bar-strip {
	left : auto;
}

.scrum-projectform-bottom-bar {
	border : none;
}

.scrum-projectform-bottom-bar + .xtoolbar-footer {
	background:none;
}

.summary-bar {
	height : 25px;
	width : 200px;
	border:1px solid green;
	margin:4px;
}

.summary-header {
	margin-left : 8px;
}


