<ul class="nav nav-list">
<li class="nav-header">Backlog</li>
<%= 
_.each(backlog, function(item, index, list){%> 
		<li>
			<a href="#">
				<div class="<%= self.types[item.type]%>"></div>
				<span><%= item.name%></span>
				<% oStatus = self.statuses(item.status);%>
				<span class="label <%= oStatus.class %> pull-right"><%= oStatus.title%></span>
				<div class="assigned-people">
					<%= _.each(item.team, index, list){%>
						<div class="avatar_16"></div>
					<%}, self);%>
				</div>
				<div class="item-bottom-part">
					<!--75 cимволов + троеточие --> 
					<div class="short-item-description">
						<%= item.description %>
					</div>
					<div class="item-news">0 news</div>
					<div class="item-comments">0 comment</div>
				</div>
			</a>			
		</li>
 <%}, self);%>