.x-panel-body-default {
	border:none !important;
}
/*toppanel*/
.scrum-toppanel {
	border-bottom:1px solid silver;
	border-top:none;
	border-width:1px !important;
}
/*content-panel*/
.scrum-contentpanel {
	padding-top: 10px;
}
/*footer*/
.scrum-footer {
	border-top:1px solid silver;
}
.scrum-commentpanel .x-border-layout-ct {
	background:none;
}

/*comment-form*/
.scrum-comment-form {
	margin-left : 10px;
}

.scrum-comment-form .x-panel-header,
.scrum-comment-form .x-toolbar-footer {
	background : none;
	padding:0px;
	border : none;
}

.scrum-comment-content, .scrum-comment-author,
.scrum-comment-form .x-panel-header-text-container-default
{
	color: #484848;
}

/*comment list*/
.scrum-comments-list {
	margin-left : 10px;
}

.scrum-comment {
	margin-top : 10px;
	border-bottom:1px solid silver;
}

.scrum-comment-content {
	padding:5px 10px 5px 0px;
}

.scrum-comment-author {
	display:inline-block;
	margin:0px 5px 5px 5px;
	vertical-align:top;
}

.scrum-comment-top-right {
	display:inline-block;
	float:right;
	margin-right:10px;
}

.scrum-comment-post-time {
	color : #999;
}

/*scrollbars for Chrome and Safari (Webkit Browsers)*/
::-webkit-scrollbar{width:9px;height:9px;}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
::-webkit-scrollbar-track-piece{background-color:#FAFAFA;-webkit-border-radius:0;-webkit-border-bottom-right-radius:8px;-webkit-border-bottom-left-radius:8px;}
::-webkit-scrollbar-thumb:vertical{height:50px;background-color:#999;-webkit-border-radius:8px;}
::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#999;-webkit-border-radius:8px;}

